.page-header {
  background-color: #039be5;
  color: #ffffff;
  padding: 0 10px;
  box-shadow: 1px 1px 5px #999999;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;
  }

  &__show-menu {
    font-size: 16px;
    height: 40px;
    padding: 0 16px;
    text-align: center;
    color: #039be5;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
  }
}
