.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  transition: background-color .5s;

  &--hidden {
    pointer-events: none;
    background-color: transparent;
  }

  &__header {
    color: #ffffff;
    background-color: #039be5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    min-height: 88px;
  }

  &__premium {
    color: #ffffff;
    text-decoration: none;
  }

  &__content {
    width: 80%;
    max-width: 280px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #999999;
    will-change: transform;
    backface-visibility: hidden;
    transition: transform .5s;

    &--hidden {
      transform: translateX(-103%);
    }
  }

  &__close {
    font-size: 16px;
    padding: 16px 0;
    vertical-align: middle;
  }

  &__items {
    margin: 16px 0 0;
    padding: 0;
  }

  &__item {
    padding: 8px 16px;
    vertical-align: middle;
    color: #666666;
    border-bottom: 1px solid #cccccc;

    &--last {
      border: none;
    }

    a {
      color: #666666;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
